body {
    background-size: cover;
    background-position: center;
}

.heading {
    width: 100%;
    float: none;
    font-size: 20px;
    margin-top: 0px;
}

.footer {
    width: 100%;
    line-height: 3;
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
}

canvas{
    margin-top: 70px;
    animation-name:example;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes example{
    from {
        box-shadow:5px 5px 20px rgb(170, 236, 17);
    }
    to {
        box-shadow:5px 5px 20px rgb(20, 162, 218);
    }
}